<!doctype html>
<html>
<head>
	<title>Point Storage</title>
	<style>

	body {
	  margin: 0;
	  font-family: tahoma;
	}

	.navbar ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 10px;
	    overflow: hidden;
	}

	.navbar li {
	    float: left;
	}

	.navbar li a {
	    display: block;
	    color: black;
	    text-align: center;
			font-size: 20px;
	    padding: 14px 30px;
	    text-decoration: none;
	}
	/*
	.navbar h1 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 100px;
    height: 80px;
  }
	*/
	
</style>
</head>
<body>
	<header>
<div class="navbar">
	<ul>
		<h1>Point Storage</h1>
	  <li><a href="/">Home</a></li>
		<li><a href="/storage">Storage Options</a></li>
	  <li><a href="/companyInfo">Company Info</a></li>
	  <li><a href="/account">My Account</a></li>
	<!--	<li><a href="/paybill">Pay My Bill</a></li>-->
  </ul>
</div>
	</header>

	{{{body}}}

	<footer></footer>
</body>
</html>
