<br>
<br>

<h1>About Page for Point Storage</h1>
<style>
body{
   height: 100%;
    margin: 0;
}

        .img {
                /* Image used */
                background-image: url("Storage-about.png");

                /* Full Height */
                height: 100%;

                /* Center and scale the image */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
        }
</style>
<div class="img">
  <img src="Storage-about.png" alt="Storage-about">
</div>

<br>
<h2>This is where you can store you items that might not be needed at the moment and they will be kept safe for the time when needed.</h2>
