
<style>

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 5px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.formContainer {
  margin: auto;
  padding: 16px;
  width: 50%;
}
h1 {
  text-align: center;
}
</style>

<h1>Login here</h1>
<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form"
          action="/login?form=account"  method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="form-group">
            <label for="fieldUserName" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
                <input type="text" placeholder="Enter Username" class="form-control" required
                id="fieldUserName" name="username">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" placeholder="Enter password" class="form-control" required
                    id="fieldPassword" name="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="login" class="btn btn-default">Login</button>
            </div>
        </div>
    </form>
</div>
<!--
    <script>
        $(document).ready(function(){
            $('.newsletterForm').on('submit', function(evt){
		evt.preventDefault();
                var action = $(this).attr('action');
                var $container = $(this).closest('.formContainer');
                $.ajax({
                    url: action,
                    type: 'POST',
			data: $(this).serialize(),
                    success: function(data){
			console.log(JSON.stringify(data));
                        if(data.success){
                            $container.html('<h2>Welcome!</h2>');
                        } else {
                            $container.html('There was a problem.');
                        }
                    },
                    error: function(){
                        $container.html('There was a problem.');
                    }
                });
            });
        });
    </script>
-->
