<style>
body {
    height: 100%;
    margin: 0;
}

/* Backgroung image */
	.img {
		/* Image used */
		background-image: url("image.jpg");

		/* Full Height */
		height: 100%;

		/* Center and scale the image */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>

<div class="img">
  <img src="image.jpg" alt="image">
</div>

<!--
<br>

<p>Point Storage is a company that provides personal storage services.</p>
<p>This is a storage website.  To store information and data to the server.</p>
-->
